@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root{
    --cor0:hsl(1, 90%, 64%);
    --cor1:hsl(219, 85%, 26%);
    --cor2:hsl(0, 0%, 100%);
    --cor3:hsl(210, 60%, 98%);
    --cor4:hsl(211, 68%, 94%);
    --cor5:hsl(205, 33%, 90%);
    --cor6:hsl(219, 14%, 63%);
    --cor7:hsl(219, 12%, 42%);
    --cor8:hsl(224, 21%, 14%);
}
*{
    padding: 0;
    margin: 0;
}